name: Build Java project with Maven 
on: 
  push: 
    branches: [ main ] 
  pull_request:
    branches: [ main ]
jobs: 
  build: 
    runs-on: ubuntu-latest 
    steps: 
    - uses: actions/checkout@v2 
    - name: Install and Setup Java 16   
      uses: AdoptOpenJDK/install-jdk@v1 
      with:
        version: '16'
        architecture: x64
    - name: Build with Maven 
      run: mvn clean install
